<div class="flex items-center space-x-3">
  <%= image_tag gravatar_url(current_user.email, size: 48), class: "rounded-full" %>
  <span>Welcome, <strong><%= current_user.name %></strong>!</span>
</div>
<%= link_to "Create Chatroom", new_room_path, class: "btn-green" %>
<%= link_to "Logout", logout_path, method: :delete, class: "btn-red" %>
<h2>List Chatroom</h2>
<ul>
  <% @rooms.each do |room| %>
    <li>
      <%= room.name %>
      <%= link_to "Join", room_path(room), class: "btn-blue-sm" %>
    </li>
  <% end %>
</ul>