<%# app/views/messages/_message.html.erb %>
<div id="<%= dom_id(message) %>" class="flex-1 overflow-y-auto p-4 bg-gray-50">
  <div class="space-y-2 max-w-2xl mx-auto">
  <div class="flex items-start space-x-3">
    <%= image_tag gravatar_url(message.user.email, size: 36),
                  class: "w-9 h-9 rounded-full shadow-xs" %>
      <div class="bg-white p-4 rounded-2xl shadow-sm">
          <div class="flex items-center space-x-2 mb-2">
            <span class="font-semibold text-gray-800"><%= message.user.name %></span>
            <span class="text-sm text-gray-500">
              <%= message.created_at.in_time_zone('Asia/Jakarta').strftime("%d %b %Y, %H:%M") %>
            </span>
          </div>
          <p class="text-gray-700"><%= message.content %></p>
      </div>
    </div>
  </div>
</div>